# Blacklist everything
/*
# White as needed
!.gitconfig
!.gitignore
!.ideavimrc
!.profile
!.bashrc
!.vimrc
!.tmux.conf
!/.scripts
!/.scripts/.sh-env
!/.notes
!/applications
!.bash_prompt
!.taskbook.json
!.i3blocks.conf
